* {
  box-sizing: border-box;
  background-color: aliceblue;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header div {
  font-size: 25px;
}

#start {
  font-size: 18px;
  padding-bottom: 15px;
}

body img {
  width: 140px;
  height: 80px;
  border-radius: 20%;
}

form {
  padding: 30px;
}

#answer-buttons {
  font-size: 20px;
}
