* {
  box-sizing: border-box;
  background-color: aliceblue;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* .hide { */
/* display: none; */

body img {
  width: 140px;
  height: 80px;
  border-radius: 20%;
}
