*,
*::before,
*::after {
  box-sizing: border-box;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  margin-right: 100px;
  font-size: 40px;
  color: rgb(151, 2, 151);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: #ffe900;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px 1px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
  margin: 25px;
}

.btn {
  width: 300px;
  height: 75px;
  border-radius: 10px;
  border: 4px solid rgb(151, 2, 151);
  padding: 10px;
  color: black;
  font-size: 20px;
}

.btn:hover {
  border: 4px dotted rgb(151, 2, 151);
}

.start-btn {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
.scoreSection {
  color: rgb(151, 2, 151);
}
.btnSubmit {
  width: 150px;
  height: 55px;
  border-radius: 10px;
  border: 4px solid #ffe900;
  padding: 10px;
  color: rgb(151, 2, 151);
  font-size: 24px;
  background-color: white;
  font-weight: bold;
}

.btnSubmit:hover {
  border: 4px dotted #ffe900;
}
.initialBox {
  font-size: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#initials {
  width: 150px;
  height: 45px;
}

#scoreList {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
